@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --charcoal: #28353e;
  --charcoalLight: rgba(54, 69, 79, 1);
  --xanthous: #e6af2eff;
  color: var(--charcoal);
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

::-webkit-search-cancel-button {
  display: none;
}

#copy::after {
  content: "";
  background: #000;
  width: 0.8rem;
  height: 0.5rem;
  position: absolute;
  bottom: -0.4rem;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}
